/******************************* General Styles *******************************/
.page-header > h2 { margin-bottom: 0px; }
.body-content { padding-top: 70px; }
.no-margin { margin: 0px; }

/********************************** About Me **********************************/
#about-me { margin-bottom: 0px; }

/*********************************** Résumé ***********************************/
.resume legend { margin-bottom: 10px; }
.resume ul { padding-left: 20px; }

.resume .section { margin-bottom: 15px; }

.resume .place { font-weight: bold; margin-bottom: 0px; }
.resume .title { font-style: italic; margin-bottom: 0px; }
.resume .project { font-weight: bold; margin-bottom: 0px; }
.resume .date { float: right; }

@media (max-width: 800px) {
  .resume .date { float: none; }
  .resume .date::before { content: '('; }
  .resume .date::after { content: ')'; }
}
