<div class="row">
  <div class="col-12-xs col-md-3">
    <img class="img-responsive rounded center" alt="profile picture" src="./../../../../assets/profile-pic-thumb.jpg" />
  </div>
  <div class="col-12-xs col-md-9">
    <h3>Kevin Phelps</h3>
    <h4>Senior Software Engineer, <a href="http://www.vintagesoftware.com/">Vintage Software, LLC.</a></h4>
    <h4>Bachelor of Science in Computer Science, <a href="http://www.semo.edu/">Southeast Missouri State University</a></h4>
    <br />
    <h4>
      <a routerLink="/resume" routerLinkActive="active-link">Resume</a> |
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Blog</a>
    </h4>
  </div>
</div>

<hr />

<router-outlet></router-outlet>
