---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  {% css_asset_tag lib %}
  - /_assets/vendor/css/bootstrap-3.3.7.css
  - /_assets/vendor/css/bootstrap-theme-3.3.7.css
  - /_assets/vendor/css/fontello.css
  {% endcss_asset_tag %}

  {% css_asset_tag site %}
  - /_assets/css/site.css
  {% endcss_asset_tag %}

  <!-- for Google -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="author" content="Kevin Phelps" />
  <meta name="copyright" content="Copyright 2015 Kevin Phelps" />

  <!-- for Facebook -->
  <meta property="og:site_name" content="Kevin Phelps" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://kevinphelps.me{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="http://kevinphelps.me{{ page.image }}" />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="http://kevinphelps.me{{ page.image }}" />

  <!-- for Google -->
  <script async type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Kevin Phelps",
      "url": "http://kevinphelps.me",
      "image": "http://kevinphelps.me/images/profile-pic.jpg",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Cape Girardeau",
        "addressRegion": "MO",
        "addressCountry": "USA"
      },
      "gender": "male",
      "jobTitle": "Web Developer",
      "worksFor": {
        "@type": "Organization",
        "name": "Vintage Software, LLC.",
        "telephone: "(573) 475-4627",
        "address": {
          "@type":"PostalAddress",
          "streetAddress": "100 S. High St.",
          "addressLocality": "Jackson",
          "addressRegion": "MO",
          "postalCode": "63755",
          "addressCountry": "USA"
        }
      },
      "alumniOf": {
        "@type": "Organization",
        "name": "Southeast Missouri State University",
        "telephone: "(573) 651-2000",
        "address": {
          "@type":"PostalAddress",
          "streetAddress": "One University Plaza",
          "addressLocality": "Cape Girardeau",
          "addressRegion": "MO",
          "postalCode": "63701",
          "addressCountry": "USA"
        }
      },
      "sameAs": [
        "https://www.facebook.com/kevinphelps11",
        "https://twitter.com/kevinphelps11",
        "https://www.linkedin.com/in/kevinphelps11",
        "https://github.com/kevinphelps"
      ]
    }
  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Kevin Phelps</a>
      </div>
      <div class="navbar-right navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a target="_blank" href="https://www.facebook.com/KevinPhelps11"><i class="icon-facebook-squared"></i> Facebook</a></li>
          <li><a target="_blank" href="https://www.twitter.com/KevinPhelps11"><i class="icon-twitter-squared"></i> Twitter</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/in/kevinphelps11"><i class="icon-linkedin-squared"></i> LinkedIn</a></li>
          <li><a target="_blank" href="https://github.com/kevinphelps/"><i class="icon-github-squared"></i> GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    {{ content }}

    <hr />
    <footer class="page-footer">
      <p class="pull-left">Copyright &copy; 2016 Kevin Phelps</p>
      <p class="pull-right"><a href="mailto:kevin@kevinphelps.me">kevin@kevinphelps.me</a></p>
    </footer>
  </div>

  {% javascript_asset_tag lib %}
  - /_assets/vendor/js/jquery-3.1.0.js
  - /_assets/vendor/js/bootstrap-3.3.7.js
  {% endjavascript_asset_tag %}
  {% javascript_asset_tag site %}
  - /_assets/js/site.js
  {% endjavascript_asset_tag %}
</body>
</html>
