---
layout: default
---

{% if page.description %}
  <blockquote>
    <p>{{ page.description }}</p>
  </blockquote>
{% endif %}

<p>
  <b>{{ page.date | date: "%B %e, %Y" }}</b>
  <i>{{ page.keywords }}</i>
</p>

{{ content }}

<hr />
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = (window.location.host == "kevinphelps.me") ? "kevinphelps" : "kevinphelpslocal";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
