.resume {
  legend {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 20px;
  }

  .section {
    margin-bottom: 15px;
  }
  .place {
    font-weight: bold;
    margin-bottom: 0;
  }
  .title {
    font-style: italic;
    margin-bottom: 0;
  }
  .project {
    font-weight: bold;
    margin-bottom: 0;
  }
  .date {
    float: right;
  }

  @media (max-width: 800px) {
    .date {
      float: none;
    }
    .date::before {
      content: '(';
    }
    .date::after {
      content: ')';
    }
  }
}
