<div class="resume">
  <fieldset class="section">
    <p>
      I graduated from Southeast Missouri State University with a Bachelor of Science in Computer Science. I focus on
      web
      development, and I have a passion for using technology to help people - to save time, to be more productive, to be
      more efficient, and to enjoy their jobs and lives more.
    </p>
    <p>
      Currently, I work as a Web Developer at Vintage Software in Jackson, MO. I primarily work on developing
      <a href="https://www.estatesales.net">EstateSales.NET</a>, the largest estate sales network, and
      <a href="https://www.antiquemalls.com">AntiqueMalls.com</a>. Our tagline is <i>software that stands
        the test of time</i>, and we really try to live by that. One of the most enjoyable things about my job is always
      striving to improve. I am most proud of my contributions to the design and implementation of a web application
      framework that we have named <a
        href="https://github.com/vintage-software/vstack/blob/master/README.md">"vstack"</a>
      (released open source on GitHub).
    </p>
    <p>
      Previously, I worked at MedAssets as a Web Developer and at Southeast Missouri State University as a Software/Web
      Developer, in a technical support role and as a Teacher's Assistant.
    </p>
    <p>
      At MedAssets, I did various web development tasks including developing internal reporting tools and enhancing
      client-facing applications. I developed a dashboard application that displayed various Google Analytics and server
      status data in easy to view charts and a a socket io web application that recorded and displayed data in real
      time.
    </p>
    <p>
      At Southeast Missouri State Missouri, I worked for three departments in software/web development and technical
      support
      roles as well as filling a Teacher's Assistant role. I was instrumental in the university's transition from our
      home-grown Learning Management System (LMS) to Moodle (an open-source LMS). During that time, I wrote several
      tools to
      ease the transition for faculty including a tool to convert test banks which saved hundreds of hours of tedious
      manual
      work. As a Teacher's Assistant, I helped students learn to program in their lab assignments.
    </p>
  </fieldset>

  <fieldset class="section">
    <legend>EDUCATION</legend>

    <p class="place">Southeast Missouri State University <span class="date">August 2011 – May 2015</span></p>
    <p class="title">Bachelor of Science in Computer Science, graduated cum laude <span class="date">May 2015</span></p>
  </fieldset>

  <fieldset class="section">
    <legend>EXPERIENCE</legend>

    <p class="place">Vintage Software, LLC. <span class="date">June 2015 – Current</span></p>
    <p class="title">Senior Software Engineer <span class="date">January 2017 – Current</span></p>
    <p class="title">Software Engineer <span class="date">June 2015 – December 2016</span></p>
    <ul>
      <li>Major projects: <a href="https://www.estatesales.net">EstateSales.NET</a> and <a
          href="https://www.antiquemalls.com">AntiqueMalls.com</a></li>
      <li>Collaborated on the the design and implementation of the <a
          href="https://github.com/vintage-software/vstack/blob/master/README.md">"vstack"</a> web application framework
      </li>
      <li>Developed improvements to client-side code bundling and build/deployment processes</li>
    </ul>

    <p class="place">MedAssets, Inc. <span class="date">June 2014 – May 2015</span></p>
    <p class="title">Web Developer <span class="date">June 2014 – May 2015</span></p>
    <ul>
      <li>Developed web applications and reporting systems for internal use to assist my business segment</li>
      <li>Fixed bugs and developed features in client-facing applications</li>
    </ul>

    <p class="place">Southeast Missouri State University <span class="date">September 2011 – May 2015</span></p>
    <p class="title">Teacher’s Assistant, Computer Science Department <span class="date">August 2014 – May 2015</span>
    </p>
    <ul>
      <li>Assisted the instructor in teaching and grading students in "C & the Unix Environment"</li>
    </ul>
    <p class="title">Web Developer/Help Desk, Information Technology <span class="date">February 2014 – May 2014</span>
    </p>
    <ul>
      <li>Developed software training for Microsoft Office using Adobe Captivate</li>
      <li>Developed significant portions of <a src="http://www.semo.edu/it">semo.edu/it</a> including a searchable
        catalog of services</li>
      <li>Customer support role assisting faculty, staff, and students with technology at the Help Desk</li>
    </ul>
    <p class="title">Web Developer, Southeast Online <span class="date">November 2013 – February 2014</span></p>
    <ul>
      <li>Developed a Customer Management System for tracking students and prospective students</li>
      <li>Developed significant portions of online.semo.edu including an online course search feature</li>
    </ul>
    <p class="title">Software Developer/Support, Office of Instructional Technology <span class="date">September 2011 –
        November 2013</span></p>
    <ul>
      <li>Several web, database, and application projects several of which are listed below</li>
      <li>Played a substantial role in the University’s Learning Management system transition</li>
      <li>Developed Moodle training materials (videos and how-to guides) for instructors and students</li>
      <li>Developed significant portions of oit.semo.edu including a Moodle help center</li>
      <li>Customer support role assisting faculty and students with education related technology</li>
    </ul>
  </fieldset>

  <fieldset class="section">
    <legend>SKILLS</legend>

    <div class="row">
      <div class="col-sm-4">
        <p><b>Programming:</b></p>
        <ul>
          <li><u>Visual Studio</u></li>
          <li><u>.NET Framework</u></li>
          <li><u>Windows Forms</u></li>
          <li><u>C#</u></li>
          <li>Databases</li>
          <li>Java</li>
          <li>Software Development</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p><b>Front end:</b></p>
        <ul>
          <li><u>HTML5</u></li>
          <li><u>CSS3</u></li>
          <li><u>JavaScript</u></li>
          <li><u>Angular</u></li>
          <li>Gulp/Webpack</li>
          <li>Responsive layout</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p><b>Back end:</b></p>
        <ul>
          <li>ASP</li>
          <li>ASP.NET</li>
          <li>ASP.NET Web Forms</li>
          <li><u>ASP.NET MVC Framework</u></li>
          <li><u>ASP.NET Web API</u></li>
          <li><u>IIS</u></li>
          <li><u>SQL Server</u></li>
        </ul>
      </div>
    </div>
  </fieldset>

  <fieldset class="section">
    <legend>PROJECTS</legend>

    <p class="project">Vstack Web Application Framework</p>
    <ul>
      <li>
        <a href="https://github.com/vintage-software/vstack/blob/master/README.md">Vstack</a>
        is a comprehensive server-side and client-side framework for building modern web applications
      </li>
      <li>Supports several data access strategies including support for custom data access layer</li>
      <li>Supports both row-based and column-based security/permissions</li>
      <li>Adding RESTful API endpoints for CRUD operations to any service is trivial</li>
      <li>An application built with vstack will be able to utilize a robust two layer cache: data is cached both
        server-side and client-side</li>
    </ul>
  </fieldset>

  <fieldset class="section">
    <legend>VOLUNTEER</legend>

    <p class="place">La Croix Church <span class="date">August 2009 – Current</span></p>
    <ul>
      <li>Technical Team: cameras, lights, graphics, and video</li>
    </ul>

    <p class="place">Ignite Student Ministry <span class="date">August 2013 – May 2016</span></p>
    <ul>
      <li>Leadership team: technical, marketing, and video</li>
    </ul>
  </fieldset>

  <fieldset class="section">
    <legend>ACHIEVEMENTS</legend>

    <p class="place">Eagle Scout, Boy Scouts of America <span class="date">December 2010</span></p>
    <ul>
    </ul>

    <p class="place">Strategic Leadership Conference, Center for Strategic and International Studies <span
        class="date">March 2014</span></p>
    <ul>
      <li>Studied foreign policy and international issues with policy leaders in Washington D.C.
    </ul>
  </fieldset>
</div>
