@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/******************************* General Styles *******************************/
body { font-family: 'Montserrat', sans-serif; padding-top: 70px; }
.page-header > h2 { margin-bottom: 0px; }
.no-margin { margin: 0px; }
.full-res-modal .modal-dialog { width: 100%; max-width: 90%; }
.fullres { padding: 10px; border-radius: 10px; width: 100%; }

blockquote.normal-size { font-size: 14px; }

/*********************************** Navbar ***********************************/
.navbar-brand { font-size: 20px; }
.navbar-nav { font-size: 18px; }
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand { color: white; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover { color: #777; }

/*********************************** Images ***********************************/
img.post-banner { width: 100%; border-radius: 5px; }
img.rounded { border-radius: 5px; }
img.center {margin:0 auto;}

/************************************ Cards ***********************************/
.card { background-color: #f2f2f2; border-radius: 4px; padding: 8px; overflow: visible; display: block; width: 100%; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2); }
.card::after { content: ''; display: table; clear: both; }

/*********************************** Résumé ***********************************/
.resume legend { margin-bottom: 10px; }
.resume ul { padding-left: 20px; }

.resume .section { margin-bottom: 15px; }

.resume .place { font-weight: bold; margin-bottom: 0px; }
.resume .title { font-style: italic; margin-bottom: 0px; }
.resume .project { font-weight: bold; margin-bottom: 0px; }
.resume .date { float: right; }

@media (max-width: 800px) {
  .resume .date { float: none; }
  .resume .date::before { content: '('; }
  .resume .date::after { content: ')'; }
}

/*********************************** Print ************************************/
@media print {
  .body-content { padding-top: 0px; }
  .about-sidebar { display: none; }
  section, .section { page-break-inside: avoid; }

  li { page-break-inside: avoid; }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.333333333333332%; }
  .col-sm-2 { width: 16.666666666666664%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333333333333%; }
  .col-sm-5 { width: 41.66666666666667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.333333333333336%; }
  .col-sm-8 { width: 66.66666666666666%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333333333334%; }
  .col-sm-11 { width: 91.66666666666666%; }
  .col-sm-12 { width: 100%; }
}
